* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden; /*todo conteudo que passar a horizontal vai ser ignorado*/
}

header {
    height: 100px;
    background-color: #000;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto; /* deixa no centro*/
    display: flex; /* deixa o conteudo flexivel*/
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 70px;
    height: 70px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu {
    flex: 1; /*pega 100% do resto da pagina*/
    display: flex;
    justify-content: flex-end; /*conteudo alinhado do fim para o começo*/
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex; /*alinha o menu na horizontal*/
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #b28756;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 18px 30px;
    margin-top: 20px;
    border-radius: 30px;
}

.banner {
    height: calc(100vh - 100px); /* clacula o valor total da tela menos o header*/
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover; /*faz a iamgem ficar na tela toda*/
    background-position:  bottom;
    overflow: hidden; /*tira da tela tudo o que passar da borda*/
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8); /*deixa o fundo com transparência preta*/
}

.banner .slide-area {
    display: flex;
    flex-direction: column; /*coloca um item em baixo do outro*/
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding: 50px 0 50px 0;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {  
    font-size: 20px;
}

.default .section-desc {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width:1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}






/*
CSS DE AREAS ESPECIFICAS
*/

.section-aboutus {
    display: flex; /*alinha o menu na horizontal*/
}

.section-aboutus--left {
    flex: 1; /*pega 100% do resto da pagina*/
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333 ;
}


.section-services {
    display: flex; /*alinha o menu na horizontal*/
}

.section-service {
    flex: 1; /*pega 100% do resto da pagina*/
    text-align: center; /*deixa o item no centro*/
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child { /*coloca o efeito apenas no primeiro item*/
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #ccc;
}